src/main/resources/net/unicon/persondir/config/person-directory.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://unicon.net/schema/person-directory"
            xmlns="http://unicon.net/schema/person-directory">

    <xsd:element name="json-attribute-repository" type="json-attribute-repositoryType"/>
    <xsd:complexType name="json-attribute-repositoryType">
        <xsd:attribute type="xsd:string" name="config-file" default="${attribute.repository.config.location:file:/etc/cas/person-attributes.conf}"/>
    </xsd:complexType>

</xsd:schema>

